* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
    color: #162542;
    line-height: 48px;
    margin-bottom: 32px;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: #7B8BAD;
    line-height: 26px;
}

button {
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #162542;
    width: 175px;
    padding: 16px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 300ms ease-in, color 300ms ease-in;
 }

/* ------------------------------------------------------------------------
Mobile Styles
 ----------------------------------------------------------------------------*/

/* ------------------------------------
Header Styles
 --------------------------------------*/
 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 24px 24px 0 24px;
 }

 header button {
     background-color: #E8EFF2;
 }

/* ------------------------------------
Hero Styles
 --------------------------------------*/
 #hero .hero-cta {
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    margin-bottom: 64px;
}

.hero-cta button {
    background-color: #F16718;
    color: #ffffff;
    margin-right: 20px;
}

.hero-cta p {
   font-weight: 700;
   text-transform: uppercase;
   display: inline-block;
}

#hero p.kicker {
    margin-bottom: 32px;
}
 
 @media only screen and (min-width: 375px) {
     #hero {
         margin: 64px 0 0 24px;
         overflow: hidden;
     }
    
     .hero-info {
         margin-right: 24px;
     }
    
     .hero-image {
         height: 331px;
         width: 372px;
         background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/mobile/image-keyboard.jpg?raw=true');
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 20px;
         margin-bottom: 24px;
     }

 }

 /* ------------------------------------
Photo display Styles
 --------------------------------------*/

 @media only screen and (min-width: 375px) and (max-width: 768px) {
     #product-display .product-grid {
         margin-right: 24px;
         display: flex;
         height: 193px;
     }
    
     #product-display .item-1 {
         width: 129px;
         height: 100%;
         background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/mobile/image-phone-and-keyboard.jpg?raw=true');
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 20px;
         position: relative;
         left: -22px;
     }
    
     #product-display .item-1::after {
         content: '';
         width: 129px;
         height: 100%;
         border-radius: 20px;
         position: absolute;
         top: 0;
         left: 0;
         background-color: #F16718;
         mix-blend-mode: multiply;
     }
    
     #product-display .item-2 {
         width: 220px;
         height: 100%;
         background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/mobile/image-glass-and-keyboard.jpg?raw=true');
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 20px;
     }

     .feature-headline {
         text-align: center;
         max-width: 327px;
         margin: 75px auto;
     }

     .feature-headline h2 {
         font-size: 32px;
         font-weight: 900;
         color: #162542;
         text-transform: uppercase;
         line-height: 36px;
         margin-bottom: 24px;
     }

     .feature-headline p {
         margin-bottom: 111px;
     }
 }

/* ------------------------------------
Feature Styles
 --------------------------------------*/
 #features {
     margin: 75px 24px 0 24px;
     text-align: center;
 }

 #features h2 {
     font-size: 32px;
     font-weight: 900;
     text-transform: uppercase;
     color: #162542;
     line-height: 36px;
     margin-bottom: 24px;
 }

 #features p.kicker {
     margin-bottom: 111px;
 }

 .feature-grid {
     display: grid;
     grid-template-columns: 1fr;
     gap: 64px;
 }

 .feature-grid h3 {
     font-size: 24px;
     font-weight: 900;
     text-transform: uppercase;
     color: #162542;
     margin-bottom: 24px;
     line-height: 28px;
 }

 @media only screen and (min-width: 375px) and (max-width: 768px) {
     .icon {
         margin: 0 auto 48px auto;
     }
 }

 .icon {
    height: 65px;
    width: 65px;
    background-color: #F16718;
    border-radius: 16px;
 }

 .icon-compatible {
     background-image: url('https://raw.githubusercontent.com/larbiDanquah/typemaster-pre-launch/4ffa0e775a13b1fc3312edcd8cbaaead52177e0f/resources/assets/shared/icon-compatible.svg');
     background-repeat: no-repeat;
     background-position: center;
 }

 .icon-connectivity {
    background-image: url('https://raw.githubusercontent.com/larbiDanquah/typemaster-pre-launch/4ffa0e775a13b1fc3312edcd8cbaaead52177e0f/resources/assets/shared/icon-bluetooth.svg');
    background-repeat: no-repeat;
    background-position: center;
 }

 .icon-capacity {
    background-image: url('https://raw.githubusercontent.com/larbiDanquah/typemaster-pre-launch/4ffa0e775a13b1fc3312edcd8cbaaead52177e0f/resources/assets/shared/icon-battery.svg');
    background-repeat: no-repeat;
    background-position: center;
 }

 .icon-rgb {
    background-image: url('https://raw.githubusercontent.com/larbiDanquah/typemaster-pre-launch/4ffa0e775a13b1fc3312edcd8cbaaead52177e0f/resources/assets/shared/icon-light.svg');
    background-repeat: no-repeat;
    background-position: center;
 }

 /* ------------------------------------
Footer Styles
 --------------------------------------*/
 footer {
     margin: 96px 24px 50px 24px;
     text-align: center;
 }

 footer p span {
     font-weight: 700;
     position: relative;
 }


 /* ------------------------------------------------------------------------
Tablet Styles
 ----------------------------------------------------------------------------*/
 @media only screen and (min-width: 768px) and (max-width: 1440px) {
    #product-display .product-grid {
        margin: 0 40px 0 40px;
    }

    #product-display .product-grid {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        height: 320px;
    }

    .feature-headline {
        margin: 40px auto;
        max-width: 689px;
        display: flex;
        justify-content: space-between;
    }

    .hero-image {
        width: 478px;
        height: 425px;
        background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/tablet/image-keyboard.jpg?raw=true');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        position: relative;
        right: -50px;
    }
 }
 @media only screen and (min-width: 768px) {
     header {
        margin: 40px 40px 0 40px;
     }

     #hero {
        margin: 60px 0 40px 40px;
        display: flex;
        align-items: center;
        position: relative;
     }

     .hero-info {
         max-width: 338px;
     }

     .item-1 {
         height: 320px;
         background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/tablet/image-phone-and-keyboard.jpg?raw=true');
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 20px;
         position: relative;
     }

     .item-1::after {
        content: '';
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #F16718;
        mix-blend-mode: multiply;
    }

     .item-2 {
        height: 100%;
        background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/tablet/image-glass-and-keyboard.jpg?raw=true');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        grid-column: 2 / 4;
     }

     #features {
         margin: 72px auto 0 auto;
         max-width: 689px;
     }

     

     .feature-headline h2 {
         text-align: left;
     }

     .feature-headline p {
        width: 398px;
        text-align: left;
     }

     .feature-grid {
        margin-top: 142px;
        margin-bottom: 142px;
        grid-template-columns: 1fr 1fr;
        text-align: left;
     }

     .icon {
         margin-bottom: 40px;
     }
 }


/* ------------------------------------------------------------------------
Desktop Styles
 ----------------------------------------------------------------------------*/
 @media only screen and (min-width: 1440px) {
     header {
        max-width: 1110px;
        margin: 55px auto 0;
     }

     #hero {
         margin: 83px auto 30px auto;
         max-width: 1110px;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .hero-info {
        max-width: 445px;
    }

    .hero-image {
        width: 540px;
        height: 480px;
        background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/desktop/image-keyboard.jpg?raw=true');
    }

    .hero-cta button {
        margin-right: 32px;
    }

    #product-display {
        max-width: 1110px;
        margin: 30px auto;
        height: 480px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }

    #features {
        max-width: 1110px;
        margin: 0 auto;
    }

    .feature-headline {
        width: 225px;
    }

    .feature-headline p {
        width: 225px;
    }

    .feature-headline h2 {
        font-size: 32px;
        font-weight: 900;
        color: #162542;
        text-transform: uppercase;
        line-height: 36px;
        margin-bottom: 27px;
    }

    .product-grid {
        margin: 0 125px 0 0;
        height: 480px;
        display: grid;
        gap: 30px;
        width: 730px;
    }

    .product-grid .item-1 {
        height: 100%;
        background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/desktop/image-phone-and-keyboard.jpg?raw=true');
        background-size: cover;
    }

    .product-grid .item-2 {
        height: 100%;
        background-image: url('https://github.com/larbiDanquah/typemaster-pre-launch/blob/main/resources/assets/desktop/image-glass-and-keyboard.jpg?raw=true');
        background-size: cover;
    }

    .hero-square-pattern, .display-square-pattern {
        width: 255px;
        height: 240px;
        background-image: url('https://raw.githubusercontent.com/larbiDanquah/typemaster-pre-launch/4ffa0e775a13b1fc3312edcd8cbaaead52177e0f/resources/assets/shared/pattern-square.svg');
    }

    .hero-square-pattern {
        position: absolute;
        top: 196px;
        right: -120px;
    }

    .display-square-pattern {
        position: absolute;
        left: -120px;
    }

    header button:hover {
        background-color: #162542;
        color: #ffffff;
    }

    #hero button:hover {
        background-color: #FF9B62;
    }
 }