* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: #7B8BAD;
    line-height: 26px;
}

button {
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #162542;
    width: 175px;
    padding: 16px 0;
    border-radius: 8px;
 }

/* ------------------------------------------------------------------------
Mobile Styles
 ----------------------------------------------------------------------------*/

/* ------------------------------------
Header Styles
 --------------------------------------*/
 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 24px 24px 0 24px;
 }

 header button {
     background-color: #E8EFF2;
 }

/* ------------------------------------
Hero Styles
 --------------------------------------*/
 #hero {
     margin: 64px 0 0 24px;
     overflow: hidden;
 }

 #hero h1 {
     font-size: 48px;
     text-transform: uppercase;
     font-weight: 900;
     color: #162542;
     line-height: 48px;
     margin-bottom: 32px;
 }

 .hero-info {
     margin-right: 24px;
 }

 #hero p.kicker {
     margin-bottom: 32px;
 }

 #hero .hero-cta {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 64px;
 }

 .hero-cta button {
     background-color: #F16718;
     color: #ffffff;
 }

 .hero-cta p {
    font-weight: 700;
    text-transform: uppercase;
 }

 .hero-image {
     height: 331px;
     width: 372px;
     background-image: url('/resources/assets/mobile/image-keyboard.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 20px;
     margin-bottom: 24px;
 }

 /* ------------------------------------
Photo display Styles
 --------------------------------------*/
 #product-display {
     margin-right: 24px;
     display: flex;
 }

 #product-display .item-1 {
     width: 129px;
     height: 193px;
     background-image: url('/resources/assets/mobile/image-phone-and-keyboard.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 20px;
     position: relative;
     left: -22px;
 }

 #product-display .item-1::after {
     content: '';
     width: 129px;
     height: 193px;
     border-radius: 20px;
     position: absolute;
     top: 0;
     left: 0;
     background-color: #F16718;
     mix-blend-mode: multiply;
 }

 #product-display .item-2 {
     width: 220px;
     height: 193px;
     background-image: url('/resources/assets/mobile/image-glass-and-keyboard.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 20px;
 }

/* ------------------------------------
Feature Styles
 --------------------------------------*/
 #features {
     margin: 75px 24px 0 24px;
     text-align: center;
 }

 #features h2 {
     font-size: 32px;
     font-weight: 900;
     text-transform: uppercase;
     color: #162542;
     line-height: 36px;
     margin-bottom: 24px;
 }

 #features p.kicker {
     margin-bottom: 111px;
 }

 .feature-grid {
     display: grid;
     grid-template-columns: 1fr;
     gap: 64px;
 }

 .feature-grid h3 {
     font-size: 24px;
     font-weight: 900;
     text-transform: uppercase;
     color: #162542;
     margin-bottom: 24px;
     line-height: 28px;
 }

 .icon {
     height: 65px;
     width: 65px;
     background-color: #F16718;
     margin: 0 auto 48px auto;
     border-radius: 16px;
 }

 .icon-compatible {
     background-image: url('/resources/assets/shared/icon-compatible.svg');
     background-repeat: no-repeat;
     background-position: center;
 }

 .icon-connectivity {
    background-image: url('/resources/assets/shared/icon-bluetooth.svg');
    background-repeat: no-repeat;
    background-position: center;
 }

 .icon-capacity {
    background-image: url('/resources/assets/shared/icon-battery.svg');
    background-repeat: no-repeat;
    background-position: center;
 }

 .icon-rgb {
    background-image: url('/resources/assets/shared/icon-light.svg');
    background-repeat: no-repeat;
    background-position: center;
 }

 /* ------------------------------------
Footer Styles
 --------------------------------------*/
 footer {
     margin: 96px 24px 50px 24px;
     text-align: center;
 }

 footer p span {
     font-weight: 700;
     position: relative;
 }